@import url(https://fonts.googleapis.com/css?family=Gabarito);
@import url(https://fonts.googleapis.com/css?family=Lora);

body,
h1,
h2,
h3 {
    font-family: "Gabarito", Gabriola, sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 400%;
    text-align: center;
}

h2 {
    font-size: 2em;
}

footer {
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

footer>div {
    flex-grow: 1;
    padding-left: 10%;
}

h1,
nav,
footer {
    font-family: "Lora", serif;
}

header,
footer {
    background-color: #005700;
    color: #eee;
}

h2,
nav a {
    color: #005700;
}

footer a {
    color: #eee;
    text-decoration: none;
}

h2,
h3,
nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1,
nav,
#copyright {
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

body,
h1 {
    margin: 0;
}

header {
    background-image: url("./imgs/hand-grips-a-gardening-tool-to-cut-back-a-plant.jpg");
    background-size: cover;
    background-position: center;
}

header h1 {
    background-color: rgba(0, 87, 0, 0.5);
    text-shadow: 2px 2px 10px white;
}

#wrapper {
    width: 80%;
    margin: auto;
}

ul {
    padding: 0;
    list-style: none;
}

#heroimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

#categories {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

#categories img {
    width: 100%;
}

#categories section {
    margin-bottom: 20px;
}

#categories h3 {
    margin-top: 0;
}

#categories section:nth-of-type(1) {
    grid-row: 1/3;
}

nav {
    padding: 10px 40px 10px 40px;
}

nav a:hover {
    text-shadow: 0px 0px 1px rgb(20, 70, 20);
}

main {
    border-left: 2px solid rgb(158, 194, 143);
}

h1 a {
    text-decoration: none;
    color: #eee;
}

h1 a:hover {
    text-shadow: 2px 2px 10px white;
}

#copyright {
    width: 100%;
}

.icon {
    display: block;
    font-size: 3em;
    color: rgb(35, 102, 12);
}

.item25 {
    width: 23%;
    box-shadow: 0px 0px 20px #eee;
    text-align: center;
}

#multicol {
    display: flex;
    justify-content: space-between;
}

#wrapper {
    width: 90%;
}

.mobile {
    display: none;
}

@media (max-width: 1023px) {

    nav a {
        display: inline-block;
        padding: 10px 30px;
    }

    nav ul li {
        display: inline-block;
    }

    footer nav ul li {
        display: block;
    }

    h1 {
        font-size: 2.5em;
    }

    #categories section {
        width: 100%;
    }

    #pagecontainer {
        display: block !important;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    footer nav ul {
        flex-direction: column;
    }

    table,
    form {
        width: 90% !important;
    }
}

@media (max-width: 759px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    nav {
        border-bottom: 1px solid #005700;
    }

    nav ul li {
        display: block;
    }

    .item25 {
        width: 50%;
    }

    nav a {
        display: block;
    }

    .item33 {
        display: block;
        padding-left: 40%;
    }

    nav ul {
        flex-direction: column;
    }

    #multicol {
        flex-wrap: wrap;
    }

    footer>div {
        width: 100%;
    }

    #categories {
        grid-template-columns: 1fr 1fr;
    }

    .flex-container {
        flex-direction: column;
    }

    table,
    form {
        width: 100% !important;
    }

    form {
        padding: 0px !important;
        box-shadow: none !important;
        grid-template-columns: 1fr !important;
    }

    input[type=submit] {
        justify-self: stretch !important;
    }
}

#pagecontainer {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.flex-container {
    display: flex;
    flex: 1;
    gap: 1.5em;
}

.flex-item {
    background-color: #005700;
    color: white;
    padding: 20px;
}

.gardening_warpper_padding_5 {
    padding: 5px;
}

* {
    box-sizing: border-box;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table thead tr {
    background-color: #005700;
    color: #eee;
}

table tbody tr:nth-child(even) {
    background-color: #8dcf8d;
}

table th,
table td {
    padding: 5px;
    text-align: center;
}

h2,
th,
caption,
form label {
    font-family: "Gabarito", Gabriola, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

caption {
    font-weight: 600;
}

form {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #bbb;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    gap: 15px;
    margin-bottom: 10px;
}

label+* {
    margin-bottom: 15px;
}

input[type=submit] {
    justify-self: start;
}